on:
  pull_request:
    paths-ignore:
      - "**/*.md"
      - "CODEOWNERS"
  push:
    paths-ignore:
      - "**/*.md"
      - "CODEOWNERS"
    branches:
      - "main"

jobs:
  e2e-k8s:
    name: "e2e-k8s"
    runs-on: "ubuntu-22.04"
    strategy:
      fail-fast: false
      matrix:
        kubernetes_versions: ["1.34", "1.33", "1.32"]
    env:
      KUBERNETES_VERSION: ${{ matrix.kubernetes_versions }}
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-go@v6
        with:
          go-version-file: "go.mod"
      - run: make -C test/e2e create-cluster
      - run: make -C test/e2e test
